@import "tailwindcss";

@theme {
  --font-sans: "Mulish", sans-serif;
  --font-sans: "DM Sans", sans-serif;
  --font-sans: "Poppins", sans-serif;


  --color-background: oklch(98.24% 0.0331 97.68); /* #FFFAE1 */
  
  --color-red: oklch(71.51% 0.1785 27.97); /* #F6F61 */
  --color-orange: oklch(75.36% 0.163659 50.4009); /* #FF8C42 */
  --color-yellow: oklch(87.89% 0.180077 93.5768); /* #FFD300 */
  --color-blue: oklch(76.44% 0.112 228.76); /* #5BC0EB */
  


}

