---
import LogoFooter from '../assets/icons/logo-white.svg';
import IconFacebook from '../assets/icons/icon-facebook-white.svg';
import IconInstagram from '../assets/icons/icon-instagram-white.svg';
import IconTwitter from '../assets/icons/icon-twitter-white.svg';
import IconYoutube from '../assets/icons/icon-youtube-white.svg';
import IconTiktok from '../assets/icons/icon-tiktok-white.svg';
---

<footer class="text-white bg-stone-900 px-6 py-16 text-sm">
  <div class="flex flex-col space-y-10 lg:grid lg:grid-cols-3 lg:space-y-0 lg:divide-x lg:divide-stone-700">

    <!-- Logo + Dates -->
    <div class="flex flex-col items-start justify-center lg:items-start lg:pl-32 lg:text-left">
      <div class="flex items-center gap-4 mb-4 lg:flex-col lg:items-start lg:gap-2">
        <LogoFooter class="w-auto max-h-16" />
        <h3 class="uppercase font-semibold leading-tight lg:mt-2">
          Festival<br />"Ça va Trai'ler !"
        </h3>
      </div>
      <p class="lg:mt-0 text-2xl">21–25 Avril 2025</p>
    </div>

    <!-- Navigation -->
    <div class="lg:px-10">
      <nav class="space-y-4">
        <h3 class="uppercase font-semibold">Festival</h3>
        <div class="space-y-1 text-grey2">
          <h4 class="uppercase text-xl">Programmation</h4>
          <ul class="pl-1 space-y-1">
            <li><a href="/films" class="hover:underline text-lg">Films</a></li>
            <li><a href="/activites" class="hover:underline text-lg">Activités</a></li>
          </ul>
          <h4 class="uppercase mt-4"><a href="/invites" class="hover:underline text-xl">Invités</a></h4>
          <h4 class="uppercase mt-4"><a href="/infos" class="hover:underline text-xl">Informations pratiques</a></h4>
        </div>
      </nav>
    </div>

    <!-- Contact + Réseaux -->
    <div class="flex flex-col justify-between lg:pl-10">
      <div class="space-y-4">
        <h3 class="uppercase font-semibold">Contact</h3>
        <address class="not-italic space-y-1 text-grey4 text-lg">
          <p>90000 Belfort</p>
          <a href="tel:0123456789" class="block hover:underline">01 23 45 67 89</a>
          <a href="mailto:contact@festival-trailer.fr" class="block hover:underline">contact@festival-trailer.fr</a>
        </address>
        <h4 class="uppercase mt-6"><a href="/mentions-legales" class="hover:underline">Mentions légales</a></h4>
      </div>
      <div class="mt-6 space-y-2">
        <h3 class="uppercase text-lg tracking-wide text-stone-400">Nous suivre</h3>
        <ul class="flex gap-4">
          <li><a href="#"><IconTwitter class="w-6 h-6 fill-white" /></a></li>
          <li><a href="#"><IconYoutube class="w-6 h-6 fill-white" /></a></li>
          <li><a href="#"><IconInstagram class="w-6 h-6 fill-white" /></a></li>
          <li><a href="#"><IconTiktok class="w-6 h-6 fill-white" /></a></li>
          <li><a href="#"><IconFacebook class="w-6 h-6 fill-white" /></a></li>
        </ul>
      </div>
    </div>

  </div>
</footer>
